EquipmentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions targetNamespace="http://www.vzb.com/espws/equipsrvc" name="EquipmentService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.vzb.com/espws/equipsrvc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.vzb.com/espws/equipsrvc" schemaLocation="EquipmentService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setVnsDetails">
    <part name="parameters" element="tns:setVnsDetails"/>
  </message>
  <message name="setVnsDetailsResponse">
    <part name="parameters" element="tns:setVnsDetailsResponse"/>
  </message>
  <message name="getLocationSummaryByCorpID">
    <part name="parameters" element="tns:getLocationSummaryByCorpID"/>
  </message>
  <message name="getLocationSummaryByCorpIDResponse">
    <part name="parameters" element="tns:getLocationSummaryByCorpIDResponse"/>
  </message>
  <message name="getLocationSummaryByCircuitID">
    <part name="parameters" element="tns:getLocationSummaryByCircuitID"/>
  </message>
  <message name="getLocationSummaryByCircuitIDResponse">
    <part name="parameters" element="tns:getLocationSummaryByCircuitIDResponse"/>
  </message>
  <message name="managedProductExistsForCorpID">
    <part name="parameters" element="tns:managedProductExistsForCorpID"/>
  </message>
  <message name="managedProductExistsForCorpIDResponse">
    <part name="parameters" element="tns:managedProductExistsForCorpIDResponse"/>
  </message>
  <message name="setControllerInfo">
    <part name="parameters" element="tns:setControllerInfo"/>
  </message>
  <message name="setControllerInfoResponse">
    <part name="parameters" element="tns:setControllerInfoResponse"/>
  </message>
  <message name="getLocationDetail">
    <part name="parameters" element="tns:getLocationDetail"/>
  </message>
  <message name="getLocationDetailResponse">
    <part name="parameters" element="tns:getLocationDetailResponse"/>
  </message>
  <message name="getLocationDetailByProduct">
    <part name="parameters" element="tns:getLocationDetailByProduct"/>
  </message>
  <message name="getLocationDetailByProductResponse">
    <part name="parameters" element="tns:getLocationDetailByProductResponse"/>
  </message>
  <message name="getEdgeControllers">
    <part name="parameters" element="tns:getEdgeControllers"/>
  </message>
  <message name="getEdgeControllersResponse">
    <part name="parameters" element="tns:getEdgeControllersResponse"/>
  </message>
  <message name="getVnsDetails">
    <part name="parameters" element="tns:getVnsDetails"/>
  </message>
  <message name="getVnsDetailsResponse">
    <part name="parameters" element="tns:getVnsDetailsResponse"/>
  </message>
  <message name="getLocationSummaryByAHC">
    <part name="parameters" element="tns:getLocationSummaryByAHC"/>
  </message>
  <message name="getLocationSummaryByAHCResponse">
    <part name="parameters" element="tns:getLocationSummaryByAHCResponse"/>
  </message>
  <message name="getEquipmentByUNumber">
    <part name="parameters" element="tns:getEquipmentByUNumber"/>
  </message>
  <message name="getEquipmentByUNumberResponse">
    <part name="parameters" element="tns:getEquipmentByUNumberResponse"/>
  </message>
  <message name="getLocationSummaryByServiceID">
    <part name="parameters" element="tns:getLocationSummaryByServiceID"/>
  </message>
  <message name="getLocationSummaryByServiceIDResponse">
    <part name="parameters" element="tns:getLocationSummaryByServiceIDResponse"/>
  </message>
  <message name="getLocationSummaryByUNumber">
    <part name="parameters" element="tns:getLocationSummaryByUNumber"/>
  </message>
  <message name="getLocationSummaryByUNumberResponse">
    <part name="parameters" element="tns:getLocationSummaryByUNumberResponse"/>
  </message>
  <message name="getLocationSummaryByAssetTag">
    <part name="parameters" element="tns:getLocationSummaryByAssetTag"/>
  </message>
  <message name="getLocationSummaryByAssetTagResponse">
    <part name="parameters" element="tns:getLocationSummaryByAssetTagResponse"/>
  </message>
  <message name="getLocationSummaryByMasterAtlasCcid">
    <part name="parameters" element="tns:getLocationSummaryByMasterAtlasCcid"/>
  </message>
  <message name="getLocationSummaryByMasterAtlasCcidResponse">
    <part name="parameters" element="tns:getLocationSummaryByMasterAtlasCcidResponse"/>
  </message>
  <message name="getEquipmentByServiceID">
    <part name="parameters" element="tns:getEquipmentByServiceID"/>
  </message>
  <message name="getEquipmentByServiceIDResponse">
    <part name="parameters" element="tns:getEquipmentByServiceIDResponse"/>
  </message>
  <message name="notifyDeliveryTeam">
    <part name="parameters" element="tns:notifyDeliveryTeam"/>
  </message>
  <message name="notifyDeliveryTeamResponse">
    <part name="parameters" element="tns:notifyDeliveryTeamResponse"/>
  </message>
  <message name="getDeviceDetails">
    <part name="parameters" element="tns:getDeviceDetails"/>
  </message>
  <message name="getDeviceDetailsResponse">
    <part name="parameters" element="tns:getDeviceDetailsResponse"/>
  </message>
  <message name="getCredentials">
    <part name="parameters" element="tns:getCredentials"/>
  </message>
  <message name="getCredentialsResponse">
    <part name="parameters" element="tns:getCredentialsResponse"/>
  </message>
  <message name="getControllerInfo">
    <part name="parameters" element="tns:getControllerInfo"/>
  </message>
  <message name="getControllerInfoResponse">
    <part name="parameters" element="tns:getControllerInfoResponse"/>
  </message>
  <message name="getCustomerDevicesByProduct">
    <part name="parameters" element="tns:getCustomerDevicesByProduct"/>
  </message>
  <message name="getCustomerDevicesByProductResponse">
    <part name="parameters" element="tns:getCustomerDevicesByProductResponse"/>
  </message>
  <message name="getEquipmentByAssetTag">
    <part name="parameters" element="tns:getEquipmentByAssetTag"/>
  </message>
  <message name="getEquipmentByAssetTagResponse">
    <part name="parameters" element="tns:getEquipmentByAssetTagResponse"/>
  </message>
  <portType name="EquipmentServicePortType">
    <operation name="setVnsDetails">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/setVnsDetailsRequest" message="tns:setVnsDetails"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/setVnsDetailsResponse" message="tns:setVnsDetailsResponse"/>
    </operation>
    <operation name="getLocationSummaryByCorpID">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByCorpIDRequest" message="tns:getLocationSummaryByCorpID"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByCorpIDResponse" message="tns:getLocationSummaryByCorpIDResponse"/>
    </operation>
    <operation name="getLocationSummaryByCircuitID">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByCircuitIDRequest" message="tns:getLocationSummaryByCircuitID"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByCircuitIDResponse" message="tns:getLocationSummaryByCircuitIDResponse"/>
    </operation>
    <operation name="managedProductExistsForCorpID">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/managedProductExistsForCorpIDRequest" message="tns:managedProductExistsForCorpID"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/managedProductExistsForCorpIDResponse" message="tns:managedProductExistsForCorpIDResponse"/>
    </operation>
    <operation name="setControllerInfo">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/setControllerInfoRequest" message="tns:setControllerInfo"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/setControllerInfoResponse" message="tns:setControllerInfoResponse"/>
    </operation>
    <operation name="getLocationDetail">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationDetailRequest" message="tns:getLocationDetail"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationDetailResponse" message="tns:getLocationDetailResponse"/>
    </operation>
    <operation name="getLocationDetailByProduct">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationDetailByProductRequest" message="tns:getLocationDetailByProduct"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationDetailByProductResponse" message="tns:getLocationDetailByProductResponse"/>
    </operation>
    <operation name="getEdgeControllers">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEdgeControllersRequest" message="tns:getEdgeControllers"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEdgeControllersResponse" message="tns:getEdgeControllersResponse"/>
    </operation>
    <operation name="getVnsDetails">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getVnsDetailsRequest" message="tns:getVnsDetails"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getVnsDetailsResponse" message="tns:getVnsDetailsResponse"/>
    </operation>
    <operation name="getLocationSummaryByAHC">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByAHCRequest" message="tns:getLocationSummaryByAHC"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByAHCResponse" message="tns:getLocationSummaryByAHCResponse"/>
    </operation>
    <operation name="getEquipmentByUNumber">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEquipmentByUNumberRequest" message="tns:getEquipmentByUNumber"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEquipmentByUNumberResponse" message="tns:getEquipmentByUNumberResponse"/>
    </operation>
    <operation name="getLocationSummaryByServiceID">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByServiceIDRequest" message="tns:getLocationSummaryByServiceID"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByServiceIDResponse" message="tns:getLocationSummaryByServiceIDResponse"/>
    </operation>
    <operation name="getLocationSummaryByUNumber">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByUNumberRequest" message="tns:getLocationSummaryByUNumber"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByUNumberResponse" message="tns:getLocationSummaryByUNumberResponse"/>
    </operation>
    <operation name="getLocationSummaryByAssetTag">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByAssetTagRequest" message="tns:getLocationSummaryByAssetTag"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByAssetTagResponse" message="tns:getLocationSummaryByAssetTagResponse"/>
    </operation>
    <operation name="getLocationSummaryByMasterAtlasCcid">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByMasterAtlasCcidRequest" message="tns:getLocationSummaryByMasterAtlasCcid"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getLocationSummaryByMasterAtlasCcidResponse" message="tns:getLocationSummaryByMasterAtlasCcidResponse"/>
    </operation>
    <operation name="getEquipmentByServiceID">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEquipmentByServiceIDRequest" message="tns:getEquipmentByServiceID"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEquipmentByServiceIDResponse" message="tns:getEquipmentByServiceIDResponse"/>
    </operation>
    <operation name="notifyDeliveryTeam">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/notifyDeliveryTeamRequest" message="tns:notifyDeliveryTeam"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/notifyDeliveryTeamResponse" message="tns:notifyDeliveryTeamResponse"/>
    </operation>
    <operation name="getDeviceDetails">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getDeviceDetailsRequest" message="tns:getDeviceDetails"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getDeviceDetailsResponse" message="tns:getDeviceDetailsResponse"/>
    </operation>
    <operation name="getCredentials">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getCredentialsRequest" message="tns:getCredentials"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getCredentialsResponse" message="tns:getCredentialsResponse"/>
    </operation>
    <operation name="getControllerInfo">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getControllerInfoRequest" message="tns:getControllerInfo"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getControllerInfoResponse" message="tns:getControllerInfoResponse"/>
    </operation>
    <operation name="getCustomerDevicesByProduct">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getCustomerDevicesByProductRequest" message="tns:getCustomerDevicesByProduct"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getCustomerDevicesByProductResponse" message="tns:getCustomerDevicesByProductResponse"/>
    </operation>
    <operation name="getEquipmentByAssetTag">
      <input wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEquipmentByAssetTagRequest" message="tns:getEquipmentByAssetTag"/>
      <output wsam:Action="http://www.vzb.com/espws/equipsrvc/EquipmentServicePortType/getEquipmentByAssetTagResponse" message="tns:getEquipmentByAssetTagResponse"/>
    </operation>
  </portType>
  <binding name="EquipmentServicePortBinding" type="tns:EquipmentServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setVnsDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationSummaryByCorpID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationSummaryByCircuitID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="managedProductExistsForCorpID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setControllerInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationDetailByProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEdgeControllers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getVnsDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationSummaryByAHC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEquipmentByUNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationSummaryByServiceID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationSummaryByUNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationSummaryByAssetTag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLocationSummaryByMasterAtlasCcid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEquipmentByServiceID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="notifyDeliveryTeam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDeviceDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getControllerInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerDevicesByProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEquipmentByAssetTag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EquipmentService">
    <port name="EquipmentServicePort" binding="tns:EquipmentServicePortBinding">
      <soap:address location="https://esqndccda09.vzbi.com:7006/espws/EquipmentService?wsdl"/>
    </port>
  </service>
</definitions>

